body {
    display: flex;
    flex-direction: column;
    flex-grow: 1 auto;

}

.Header {
    display:flex;
    background-color: #1f2937;
    padding-left: 20px;
    color: azure;
}
ul {
    display: flex;
    justify-content: flex-end;
    flex:1 auto;
    gap:20px;
    padding-right: 20px;
    list-style: none;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
}

.awsome {
    display: flex;
    background-color: blueviolet;
}

.random {
    display: flex;
    background-color: chocolate;
}

.quote {
    display: flex;
    background-color: darkgreen;
}

.sign {
    display: flex;
    background-color: dimgrey;
}

.footer {
    display: flex;
    background-color: blue;
}